<div class="container">
<div>
  <h2 class="text-center my-4 text-light">Contact Us</h2>

  <div class="row row-cols-1 row-col-md-2 justify-content-between mt-3">
    <form
      class="border p-2 mx-auto mb-2 bg-secondary-subtle col-10 col-md-6 col-lg-8"
      [formGroup]="form"
      (ngSubmit)="submitMessage()"
    >
      <div class="mb-3 row row-cols-1 row-cols-md-2">
        <div class="col-md-6">
          <label for="name" class="form-label">First name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            placeholder="Ex. 'John'"
            formControlName="name"
            [ngClass]="{
              'is-invalid':
                form.get('name')!.touched && form.get('name')!.invalid,
              'is-valid': form.get('name')!.valid
            }"
          />
          <ng-container
            *ngIf="form.get('name')!.errors && form.get('name')!.touched"
            ><small class="text-danger"
              >Il nome deve contenere almeno 3 caratteri</small
            ></ng-container
          >
        </div>
        <div class="col-md-6">
          <label for="surname" class="form-label">last name</label>
          <input
            type="text"
            class="form-control"
            name="surname"
            id="surname"
            placeholder="Ex. 'Doe'"
            formControlName="surname"
            [ngClass]="{
              'is-invalid':
                form.get('surname')!.touched && form.get('surname')!.invalid,
              'is-valid': form.get('surname')!.valid
            }"
          />
          <ng-container
            *ngIf="form.get('surname')!.errors && form.get('surname')!.touched"
            ><small class="text-danger"
              >Il cognome deve contenere almeno 4 caratteri</small
            ></ng-container
          >
        </div>
      </div>
      <!---->
      <div class="mb-3 row row-cols-1 row-cols-md-2">
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            placeholder="Ex. 'JDoe@example.com'"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                form.get('email')!.touched && form.get('email')!.invalid,
              'is-valid': form.get('email')!.valid
            }"
          />
          <ng-container
            *ngIf="form.get('email')!.errors && form.get('email')!.touched"
            ><small class="text-danger"
              >Inserisci un indirizzo email corretto</small
            ></ng-container
          >
        </div>
        <div class="col-md-6">
          <label for="tel" class="form-label">Tel</label>
          <input
            type="tel"
            name="tel"
            class="form-control"
            id="tel"
            placeholder="Ex. '+44 0000000000'"
            formControlName="tel"
            [ngClass]="{
              'is-invalid':
                form.get('tel')!.touched && form.get('tel')!.invalid,
              'is-valid': form.get('tel')!.valid
            }"
          />
          <ng-container
            *ngIf="form.get('tel')!.errors && form.get('tel')!.touched"
            ><small class="text-danger"
              >Inserisci un numero di telefono corretto</small
            ></ng-container
          >
        </div>
      </div>
      <!---->
      <div class="mb-3">
        <label for="textarea" class="form-label">Message</label>
        <textarea
          class="form-control"
          id="textarea"
          name="textarea"
          placeholder="Ex. 'Hello, I would like to ask you...'"
          rows="4"
          formControlName="textarea"
          [ngClass]="{
            'is-invalid':
              form.get('textarea')!.touched && form.get('textarea')!.invalid,
            'is-valid': form.get('textarea')!.valid
          }"
        ></textarea>
        <ng-container
        *ngIf="form.get('textarea')!.errors && form.get('textarea')!.touched"
        ><small class="text-danger"
          >Inserisci un messaggio di almeno 10 caratteri</small
        ></ng-container
      >
      </div>
      <!---->
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Send</button>

      
      <div class="my-2 text-center" *ngIf="text.length > 1">
        <span class="border border-dark-subtle" style="min-width: 15rem; height: 1rem">{{text}}</span>
      </div>
    </form>


    <div class="border col-10 col-md-4 col-lg-3 pt-4 bg-light mb-2 mx-auto">
      <h3 class="text-primary-emphasis text-center">Any questions?</h3>
      <h6 class="my-3">
        Hello, I am here to answer your question. Please, send me a message using the form or contact me by email/whatApp message.
      </h6>
      <h4 class="mt-3 text-center text-primary-emphasis">Contacts:</h4>

        <h5 class="row row-cols-1 row-cols-md-2"><p class="text-muted">Phone number:</p><a href="tel:3338899777" style="cursor: pointer; text-decoration: none; font-size: 1.1rem; text-align: left;">3338899777</a></h5>
        <h5 class="row row-cols-1 row-cols-md-2"><p class="text-muted">Email address:</p><a href="mailto:test@test.com" style="cursor: pointer; text-decoration: none; font-size: 1.1rem; text-align: left;">test email</a></h5>


      <h6 class="mt-4 text-center text-muted">
        You will receive an answer in 2/3 business days.
      </h6>
    </div>
  </div>
</div>
<hr class="my-4">
<div class="justify-content-center">
    <p class="text-center text-light">&copy; 2025 – Contact page by Federica</p>
</div>
</div>